.jumbotron-transparent {
    background-color: rgba(220, 220, 220, 0.8);
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

.jumbotron-transparent-dark {
    color: #ddd;
    background-color: rgba(20,20,20,0.8);
}

.nav-pills>li>a {
    color: #ddd;
    background-color: transparent;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: black;
    background-color: rgba(255, 241, 202, 0.6);
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.list-group-item, .button.list-group-item {
    background-color: transparent;
}