.jumbotron-transparent-dark {
    color: #ddd;
    background-color: rgba(20,20,20,0.9);
    /*height: 21.5rem;*/
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.jumbotron-transparent-correct {
    color: #ddd;
    background-color: rgba(0, 150, 0, 0.9);
}


.jumbotron-transparent-wrong {
    color: #ddd;
    background-color: rgba(150, 0, 0, 0.9);
}


.jumbotron-transparent-wrong>button {
    color: rgb(150, 0, 0);
    background-color: #dddddd;
    border: 0;
    margin-left: 70%;
    width: 30%;
    min-width: 100px;
}


.nav-pills>li>a {
    color: #ddd;
    background-color: rgba(20,20,20,0.2);
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: black;
    background-color: rgba(255, 241, 202, 0.6);
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    color: white;
    background-color: rgba(20,20,20,0.6);
}

.list-group>.list-group-item {
    background-color: rgba(20, 20, 20, 0.9);
    border: 0;
    color: #ddd;
    font-size: larger;

}

.list-group>.list-group-item:hover, .list-group>.list-group-item:focus {
    background-color: rgba(255, 241, 202, 0.8);
    color: #222;
}


/*---------------- pre-animation settings ----------- */
#left-box, #right-box, #language-bar {
    opacity: 0.0;
}




