html, body {
  width: 100%;
  height: 100%; }

body {
  background: url(../images/dices.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.vertical-align {
  display: inline-flex;
  align-items: center; }

button, a.btn {
  cursor: pointer; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.navbar {
  padding: 0 0; }
  .navbar .nav-item {
    margin-left: .75rem; }
    @media (max-width: 767.9px) {
      .navbar .nav-item {
        margin-left: 2rem; } }
  .navbar #menu-toggler {
    border: 0;
    left: 0;
    border-radius: 5rem;
    padding: .25rem .5rem;
    margin-top: .05rem;
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
    transition: background-color 400ms ease; }
    .navbar #menu-toggler:hover {
      background-color: rgba(225, 225, 225, 0.15); }
    .navbar #menu-toggler:focus {
      outline: none; }
    .navbar #menu-toggler i {
      padding-top: .2rem; }
  .navbar #mainNavBar {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease; }
  @media (max-width: 767.9px) {
    .navbar .navbar-brand {
      margin-left: 3.5rem; }
    .navbar .nav-link {
      margin-left: 1.5rem; }
    .navbar #mainNavBar {
      margin-top: .5rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      border-radius: 0.25rem;
      background-color: transparent;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease; }
      .navbar #mainNavBar.show, .navbar #mainNavBar.collapsing {
        background-color: rgba(225, 225, 225, 0.15); } }
  @media (min-width: 768px) {
    .navbar .nav-link {
      -webkit-transition: box-shadow 400ms ease;
      -moz-transition: box-shadow 400ms ease;
      -o-transition: box-shadow 400ms ease;
      transition: box-shadow 400ms ease; }
      .navbar .nav-link:hover, .navbar .nav-link:focus {
        -webkit-box-shadow: 0 -2px #dddddd inset;
        -moz-box-shadow: 0 -2px #dddddd inset;
        box-shadow: 0 -2px #dddddd inset; } }

#content-wrapper {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.navbar-wrapper, .content-wrapper {
  padding-top: 1rem;
  -webkit-transition: width 150ms ease;
  -moz-transition: width 150ms ease;
  -o-transition: width 150ms ease;
  transition: width 150ms ease; }
  @media (min-width: 768px) {
    .navbar-wrapper, .content-wrapper {
      padding-top: 1.5rem; } }

.content-wrapper {
  display: none; }

@media (max-width: 767.9px) {
  .navbar-wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

  .content-wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem; } }
#left-box-wrapper {
  margin-bottom: .5rem; }
  @media (min-width: 992px) {
    #left-box-wrapper {
      padding-right: .25rem; } }

@media (min-width: 992px) {
  #right-box-wrapper {
    padding-left: .25rem; } }

.box-wrapper, .small-box-wrapper, .big-box-wrapper {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }

.box-wrapper {
  padding: 0 .25rem .5rem .25rem; }
  .box-wrapper .jumbotron {
    height: 100%; }

.small-box-wrapper {
  padding: .25rem; }

.big-box-wrapper {
  padding: 0 .25rem .25rem .25rem; }

#progress-wrapper {
  padding-bottom: 0.5rem; }

.list-transparent > .list-group-item {
  background-color: rgba(225, 225, 225, 0.75);
  color: #333333;
  margin-bottom: .0675rem;
  text-align: left;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .list-transparent > .list-group-item:hover {
    background-color: rgba(225, 225, 225, 0.9); }

@media (max-width: 767.9px) {
  #training-list > button {
    padding: 1rem 1rem; } }
@media (max-width: 575.9px) {
  #training-list > button {
    padding-left: .75rem; } }
#training-list > button span.float-right {
  position: absolute;
  right: 1.25rem; }
  @media (max-width: 575.9px) {
    #training-list > button span.float-right {
      right: .5rem; } }
  #training-list > button span.float-right .badge-default {
    background-color: #333333;
    color: #dddddd;
    margin-right: .3rem; }
    @media (max-width: 575.9px) {
      #training-list > button span.float-right .badge-default {
        margin-right: 0; } }
  #training-list > button span.float-right i {
    padding-bottom: .05rem; }
#training-list > button span.float-left {
  padding-right: 4rem; }
  @media (max-width: 575.9px) {
    #training-list > button span.float-left {
      padding-right: 3rem; } }

@media (min-width: 576px) {
  .jumbotron {
    padding: 2.5rem 2.5rem; } }

.jumbotron-transparent {
  color: #333333;
  background-color: rgba(225, 225, 225, 0.75);
  margin-bottom: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }

.jumbotron-transparent-correct, .jumbotron-transparent-wrong {
  color: #dddddd; }
  .jumbotron-transparent-correct button, .jumbotron-transparent-wrong button {
    border: 0;
    margin-left: 70%;
    width: 30%;
    background-color: #dddddd;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease; }
    .jumbotron-transparent-correct button:hover, .jumbotron-transparent-wrong button:hover, .jumbotron-transparent-correct button:focus, .jumbotron-transparent-wrong button:focus {
      background-color: #c0c0c0; }

.jumbotron-transparent-correct {
  background-color: rgba(46, 125, 50, 0.8); }
  .jumbotron-transparent-correct button {
    color: #2E7D32; }

.jumbotron-transparent-wrong {
  background-color: rgba(183, 28, 28, 0.8); }
  .jumbotron-transparent-wrong button {
    color: #B71C1C; }

.progress-custom-small, .progress-custom-big {
  background-color: transparent;
  margin-bottom: .5rem; }

.progress-custom-small {
  height: 1rem;
  margin-top: .75rem; }

.progress-custom-big {
  height: 2.5rem;
  margin-top: 1rem; }

div.progress-bar.bg-success, div.progress-bar.bg-danger {
  -webkit-transition: background-color 400ms ease, width 400ms ease;
  -moz-transition: background-color 400ms ease, width 400ms ease;
  -o-transition: background-color 400ms ease, width 400ms ease;
  transition: background-color 400ms ease, width 400ms ease; }

div.progress-bar.bg-success {
  width: 0; }
  div.progress-bar.bg-success:hover {
    background-color: #48b54d !important; }
div.progress-bar.bg-danger {
  width: 100%; }
  div.progress-bar.bg-danger:hover {
    background-color: #c94c46 !important; }

#progress-wrapper .progress {
  background-color: rgba(225, 225, 225, 0.3); }
  #progress-wrapper .progress #progress-lesson {
    background-color: rgba(225, 225, 225, 0.6);
    width: 0;
    -webkit-transition: width 400ms ease;
    -moz-transition: width 400ms ease;
    -o-transition: width 400ms ease;
    transition: width 400ms ease; }

.btn-toolbar {
  border-radius: .25rem;
  margin-bottom: 1rem; }

.btn-primary {
  border: 1px solid rgba(51, 51, 51, 0.8);
  background-color: transparent;
  color: #333333; }
  .btn-primary > i {
    padding-right: .5rem; }
  @media (max-width: 767.9px) {
    .btn-primary > i {
      padding: 0; }
    .btn-primary > span {
      display: none; } }
  .btn-primary.margin {
    margin: 0 .5rem .5rem 0; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #333333;
    color: #dddddd; }

#language-swap {
  border: 0;
  margin-top: .25rem;
  margin-right: -1.5rem;
  padding: .5rem;
  font-size: 30px;
  cursor: pointer;
  border-radius: 3rem;
  background-color: transparent;
  -webkit-transition: background-color 400ms ease, transform 250ms linear, color 250ms ease;
  -moz-transition: background-color 400ms ease, transform 250ms linear, color 250ms ease;
  -o-transition: background-color 400ms ease, transform 250ms linear, color 250ms ease;
  transition: background-color 400ms ease, transform 250ms linear, color 250ms ease; }
  @media (max-width: 991.9px) {
    #language-swap {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); } }
  @media (max-width: 575.9px) {
    #language-swap {
      margin-right: 0; } }
  #language-swap:hover {
    background-color: rgba(225, 225, 225, 0.5);
    -webkit-transition: background-color 400ms ease, transform 250ms linear;
    -moz-transition: background-color 400ms ease, transform 250ms linear;
    -o-transition: background-color 400ms ease, transform 250ms linear;
    transition: background-color 400ms ease, transform 250ms linear; }
  #language-swap:focus {
    outline: none; }
  #language-swap.swapped {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
    @media (max-width: 991.9px) {
      #language-swap.swapped {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg); } }
  #language-swap.toggle-disabled {
    color: transparent;
    -webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: color 250ms ease; }
    #language-swap.toggle-disabled:hover, #language-swap.toggle-disabled:focus {
      background-color: transparent; }

.delete-stats, .delete-file, .edit-file {
  border: 0;
  border-radius: 99rem;
  cursor: pointer;
  background-color: transparent;
  color: #333333;
  -webkit-transition: background-color 400ms ease, color 400ms ease;
  -moz-transition: background-color 400ms ease, color 400ms ease;
  -o-transition: background-color 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, color 400ms ease; }
  .delete-stats:hover, .delete-file:hover, .edit-file:hover {
    background-color: #333333;
    color: #c94c46; }

.delete-stats {
  margin-top: -.4rem;
  padding: .75rem; }

.big-box-wrapper > div > .delete-stats {
  margin-top: -.1rem; }

.modal-body > .form-group > small {
  padding-top: .5rem; }
  .modal-body > .form-group > small > code {
    color: #333333; }

table, thead, tr, th, td {
  border-color: rgba(0, 0, 0, 0.2) !important; }

th, td {
  vertical-align: middle !important;
  border-top: none !important;
  border-bottom: 1px solid #333333; }
  th .badge-default, td .badge-default {
    background-color: #333333;
    color: #dddddd;
    float: right; }
    @media (max-width: 767.9px) {
      th .badge-default, td .badge-default {
        display: none; } }
  th.td-content, td.td-content {
    width: 100%; }
    th.td-content > .badge-default, td.td-content > .badge-default {
      margin-top: .25rem;
      margin-right: .5rem; }
  th.th-icon > .badge-default, td.th-icon > .badge-default {
    background-color: #333333;
    border-radius: 99rem;
    height: 2.25rem;
    width: 2.25rem; }
    th.th-icon > .badge-default > div, td.th-icon > .badge-default > div {
      margin-top: .55rem; }
  @media (max-width: 767.9px) {
    th.th-icon, td.th-icon {
      padding: 0; } }
  th.td-icon, td.td-icon {
    padding: .5rem .75rem .5rem 0;
    width: 1%; }
    @media (max-width: 767.9px) {
      th.td-icon, td.td-icon {
        padding: .5rem .5rem .5rem 0; } }

.delete-file, .edit-file {
  padding: .5rem; }
  .delete-file:focus, .edit-file:focus {
    outline: none; }

.edit-file {
  width: 2.5rem !important; }
  .edit-file:hover {
    color: #dddddd; }

tbody > tr {
  -webkit-transition: background-color 400ms ease;
  -moz-transition: background-color 400ms ease;
  -o-transition: background-color 400ms ease;
  transition: background-color 400ms ease; }

/*# sourceMappingURL=vocab.css.map */
