.btn-primary {
  background-color: $color-light;
  color: $color-dark;
  border: 0;

  &.margin {
    margin: 0 .5rem .5rem 0;
  }

  &:hover, &:focus {
    background-color: $color-dark;
    color: $color-light;
  }
}

#language-swap {
  border: 0;
  margin-top: .25rem;
  margin-right: -1.5rem;
  padding: .5rem;
  font-size: 30px;
  cursor: pointer;
  border-radius: 3rem;
  background-color: transparent;
  @include transition(background-color $trans-speed-normal ease, transform $trans-speed-fast linear,
          color $trans-speed-fast ease);

  @include max-md {
    @include rotate(90deg);
  }

  @include max-xs {
    margin-right: 0;
  }

  &:hover {
    background-color: $button-hover-color;
    @include transition(background-color $trans-speed-normal ease, transform $trans-speed-fast linear);
  }

  &:focus {
    outline: none;
  }

  &.swapped {
    @include rotate(180deg);

    @include max-md {
      @include rotate(270deg);
    }
  }

  &.toggle-disabled {
    color: transparent;
    @include transition(color $trans-speed-fast ease);

    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

%round-button {
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
  @include transition(background-color $trans-speed-normal ease);

  &:hover {
    background-color: $button-hover-color;
  }
}

.delete-stats {
  @extend %round-button;
  margin-top: -.4rem;
  padding: .75rem;
}

.delete-file {
  @extend %round-button;
  padding: .5rem;
  max-width: 2.5rem;
}

.edit-file {
  @extend .delete-file;
  @include min-md {
    margin-right: 1rem;
  }
}

.big-box-wrapper>div>.delete-stats {
  margin-top: -.1rem;
}