.list-transparent > .list-group-item {
  background-color: $bg-color;
  color: $color-dark;
  margin-bottom: .0675rem;
  text-align: left;
  @include transition(background-color .3s ease);

  &:hover {
    background-color: $list-hover-color;
  }
}

#training-list > button {

  @include max-sm {
    padding: 1rem 1rem;
  }

  @include max-xs {
    padding-left: .75rem;
  }

  span {
    &.float-right {
      position: absolute;
      right: 1.25rem;
      @include max-xs {
        right: .5rem;
      }

      .badge-default {
        background-color: $color-dark;
        color: $color-light;
        margin-right: .3rem;
        @include max-xs {
          margin-right: 0;
        }
      }

      i {
        padding-bottom: .05rem;
      }
    }

    &.float-left {
      padding-right: 4rem;
      @include max-xs {
        padding-right: 3rem;
      }
    }
  }
}