@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -o-transform: rotate($angle);
  transform: rotate($angle);
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin min-xl {
  @media (min-width: $min-xl) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: $min-lg) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: $max-md) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: $min-md) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: $max-sm) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: $min-sm) {
    @content;
  }
}

@mixin max-xs {
  @media (max-width: $max-xs) {
    @content;
  }
}