%progress-custom {
  background-color: transparent;
  margin-bottom: .5rem;
}

.progress-custom-small {
  @extend %progress-custom;
  height: 1rem;
  margin-top: .75rem;
}

.progress-custom-big {
  @extend %progress-custom;
  height: 2.5rem;
  margin-top: 1rem;
}

%progress-bg-custom {
  @include transition(background-color $trans-speed-normal ease, width $trans-speed-normal ease);
}

div.progress-bar {

  &.bg-success {
    @extend %progress-bg-custom;
    width: 0;

    &:hover {
      background-color: $progress-success-hover-color !important;
    }
  }

  &.bg-danger {
    @extend %progress-bg-custom;
    width: 100%;

    &:hover {
      background-color: $progress-danger-hover-color !important;
    }
  }
}

#progress-wrapper {
  .progress {
    background-color: rgba(225,225,225, 0.3);
    #progress-lesson {
      background-color: rgba(225,225,225,0.6);
      width: 0;
      @include transition(width $trans-speed-normal ease);
    }
  }
}