%table {
  border-color: $table-color !important;
}

table, thead, tr {
  @extend %table;
}

th, td {
  @extend %table;
  vertical-align: middle !important;

  &.td-content {
    width: 100%;
  }

  &.td-icon {
    padding: .5rem .75rem .5rem 0;
    @include max-sm {
      padding: .5rem .5rem .5rem 0;
    }
    width: 1%;
  }
}

tbody > tr {
  @include transition(background-color $trans-speed-normal ease);
}